h1 {
    text-align: center;
}

.dice {
    display: flex;
}

[class^="face-"] {
    background: #333;
    width: 120px;
    height: 120px;
    padding: 10px;
    display: flex;
    margin: 1em;
}

.dot {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #eee;
}

.face-1 {
    justify-content: center;
    align-items: center;
}

.face-2 {
    justify-content: space-between;
}

.face-2 .dot:nth-child(2) {
    align-self: flex-end;
}

.face-3 {
    justify-content: space-between;
}

.face-3 .dot:nth-child(2) {
    align-self: center;
}

.face-3 .dot:nth-child(3) {
    align-self: flex-end;
}

.face-4 {
    justify-content: space-between;
}

.face-4 .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    padding-top: 3em;
    text-align: center;
    font-size: 25px;
}